/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 568px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      font-family: 'Poppins', sans-serif;
      background-color: rgb(215, 219, 236);
  }


  /*********STATIC********/
  header {
      position: fixed;
      top: 0;
      width: 100%;
      height: 40px;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.882);
  }

  header > * {
      margin: 10px;
      font-family: 'Prata', serif;
  }

  #engLink {
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
  }


.sidebar {
  position: fixed;
  display: none;
  height: 100vh;
  padding: 20px;
  background-color: rgb(120, 140, 151);
  z-index: 3;
}


.show {
  display: block;
  width: 100%;
}



  main {
    padding: 0;
    margin: 0;
  }

  main > section {
    width: 100%;
  }

  main > section > article {
    margin: 30px;
  }

  .padding{
    padding: 30px;
  }


  nav ul {
    width: 100%;
    list-style-type: none;
    font-weight: 600;
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
  }



/***********BACKGROUND PICTURES**********/

#start {
  background-image: url("/img/bg/start850.jpg");
}

#history {
    background-image: url("/img/bg/history850.jpg");
}

#contact {
    background-image: url("/img/bg/contact850.jpg");
}

#english {
  background-image: url("/img/bg/english850.jpg");
}



  table td{
    word-break: break-all;
  }

}




@media only screen and (max-width: 768px) {

/********TOGGLE DROPDOWN*****/




/***********TABLE**********/

  #names td {
    text-align: left;
  }
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid black;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  #memberTable td:last-child {
    border-bottom: 0;
  }


}







/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /*****TOGGLE DROPDOWN*****/
  .sidebar{
    display: block;
    width: 180px;

  }

  #dropdown {
    display: none;
  }

  nav ul {
    top: 70px;
    align-items: flex-start;
    justify-content: space-around;
    height: 50vh; 
  }


/****/
  /***********BACKGROUND PICTURES**********/
#start {
  background-image: url("/img/bg/start.jpg");
}

#history {
  background-image: url("/img/bg/history.jpg");
}

#contact {
  background-image: url("/img/bg/contact.jpg");
}

#english {
  background-image: url("/img/bg/english.jpg");
}




  main {
    padding-left: 180px;
  }


}


@media only screen and (min-width: 900px) {
  .padding {
    padding: 70px;
  }
}

