:root {
  --darkgrey: #232323;
  --bg: rgb(185, 196, 204);
  --opacity: rgba(255, 255, 255, 0.815);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--darkgrey);
}

/*********MENUES********/
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 2;
    background-color: var(--opacity);
}

header > * {
    margin: 10px;
    font-family: 'Prata', serif;
}


.sidebar {
    position: fixed;
    padding: 0 20px;
    background-color: #c9d1d4;
    z-index: 3;
}

h1 {
    font-family: 'Prata', serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

nav {
    width: 100%;
    height: 100%;
}

nav ul { 
    position: absolute;
    width: 100%;
    list-style-type: none;
    font-size: .8rem;
    display: flex;
    flex-flow: column nowrap;
}

.eng-link {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    font-size: 1.1rem; 
}


/**********MAIN************/ 
main {
    position: absolute;
    width: 100%;
    height: 100vh;
}

main > div, 
footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

main > div {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bg);

}

main > div > section,
main > div > article {
    max-width: 1200px;
    background-color: var(--opacity);
}

main > div > section > div > article {
    margin-bottom: 20px;
}

h2 {
    text-transform: uppercase;
    font-family: 'Prata', serif;
    margin-bottom: 2rem;
}
  
h3 {
    margin-bottom: 5px;
}

p {
    font-size: 16px;
}

legend {
    font-size: 1.1rem;;
    font-weight: 600;
}



/******links*********/
*:focus {
    outline: none;
    border: 4px solid black;
    border-radius: 1.5rem;
    padding: .5rem;
    background-color: var(--opacity);
}

input[type=radio]:focus {
    outline: 4px solid black;
    background-color: white;
    padding: 5px;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

a:active {
    color: white;
}

a:hover {
    font-weight: 600;
}

a:active, a:hover {
    border: none;
    background-color: transparent;
    padding: 0;
}

header a:hover {
    font-size: 1.15rem;
}

.logo:hover {
    font-size: 1.6rem;
}


#dropdown:hover {
    font-size: 1.4rem;
}

/************************/

.padding{
    padding: 30px;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
    width: 100%;
}

.space, .msgSent{
    width: 45%;
    margin-bottom: 20px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 600;
}

.right {
    text-align: center;
}


/*********START SECTION********/
.float {
    float: right;
    margin: 20px;
}

.margin {
    margin-right: 50px;;
}

/*********TURISM SECTION********/
#turism  p, 
#turism img, 
#memberInfo p {
    margin-bottom: 15px;
    max-width: 450px;
}

/*********HISTORY SECTION********/
.fieldset {
    margin-top: 30px;
}

#names {
    max-width: 600px;
    background-color: var(--opacity);
}

.name-exp {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch; 
    justify-content: space-between;
    list-style-type: none;
}

#names ul:nth-child(even) {
   background-color: white;
}

#names li {
    padding: 5px;
}

/*********MEMBER SECTION********/
#memberInfo p {
    min-width: 227px;
    overflow-wrap: break-word;
}

#memberInfo figure {
    margin-bottom: 50px;
}

/*********CONTACT SECTION********/
#msg {
    max-width: 100%;
}

.msgSent {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    padding: 40px;
}

#email {
    margin-bottom: 5px;
}

#submit {
    padding: 5px;
}

/*********ENGLISH********/
#english {
    height: 100%;
}

.eng-main {
    padding: 0;
}

.swe-link {
    position: absolute;
    margin: 10px;
    text-transform: uppercase;
    font-size: 1.3rem;
}

/*********FOOTER********/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: var(--opacity);
}

footer a {
    margin: 0 3%;
}


@media only screen and (min-width: 465px) {
    
    /********TOGGLE DROPDOWN*****/
    #dropdown {
        font-size: 1.3rem;
        padding: 10px;
        margin: 0;
    }
  
    .sidebar {
        display: none;
        height: 100vh;
    }
  
    .show {
        display: block;
        width: 100%;
    }
  
    nav ul { 
        top: 0;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
    }
  
    /*********MAIN********/
    main > div > section {
        margin: 0;
    }
  
  
    /***********BACKGROUND PICTURES**********/
    #start {
        background-image: url("/img/bg/start850.jpg");
    }
  
    #history {
        background-image: url("/img/bg/history850.jpg");
    }
  
    #contact {
        background-image: url("/img/bg/contact850.jpg");
    }
  
    #english {
        background-image: url("/img/bg/english850.jpg");
    }
  
}
  
  
@media only screen and (max-width: 768px) {

    .padding {
        padding: 40px;
    }

}

  
@media only screen and (min-width: 768px) {

    /*****TOGGLE DROPDOWN*****/
    .fas fa-bars{
        display: none;
    }

    .sidebar{
        display: block;
        width: 150px;
    }

    #dropdown {
        display: none;
    }

    nav ul {
        top: 70px;
        align-items: flex-start;
        justify-content: space-around;
        height: 50vh; 
    }


    /***********BACKGROUND PICTURES**********/
    #start {
        background-image: url("/img/bg/start.jpg");
    }

    #history {
        background-image: url("/img/bg/history.jpg");
    }

    #contact {
        background-image: url("/img/bg/contact.jpg");
    }

    #english {
        background-image: url("/img/bg/english.jpg");
    }

    /***********MAIN**********/
    main {
        padding-left: 150px;
    }

    .padding {
        padding: 50px;
    }

}


@media only screen and (min-width: 900px) {
    .padding {
        padding: 70px;
    }
}
  
  