


#sidebar > a {
    font-family: 'Prata', serif;
    font-size: 1.5rem;
    text-transform: uppercase;
}

nav {
    width: 100%;
    height: 100%;
}
  

.fas fa-bars{
    display: none;
}


/*********GENERAL********/

*   :focus {
    color: red;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    position: absolute;
    width: 100%;
    height: 100vh;
}

main > section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

main > section > article {

    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.815);
}

main > section > article > section > article{
    margin-bottom: 20px;
}

article h2 {
    text-transform: uppercase;
    font-family: 'Prata', serif;
    margin-bottom: 2rem;
    margin-top: 50px;
}


.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
    width: 100%;
}

.padding {
    padding: 70px;
}

.space, .msgSent{
    width: 45%;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 600;
}

.right {
    text-align: center;
}

/*********START********/
.float {
    float: right;
    margin: 20px;
}

.margin {
    margin-right: 50px;;
}

/*********TURISM********/
#turism  p, #turism img, #memberInfo p {
    margin-bottom: 15px;
    max-width: 450px;
}


/*********MEMBERINFO********/
#memberInfo p {
    min-width: 227px;
    overflow-wrap: break-word;
}

#memberInfo figure {
    margin-bottom: 50px;
}

#weatherToday {
    margin-bottom: 25px; 
    margin-right: 30px;
    
}



/*********TABLE********/

tr, td {
    background-color: white;
}

table {
    table-layout: fixed;
    width: 100%;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    font-weight: bold;
}

th, td {
    padding: 10px;
}

/*********CONTACT********/
#msg {
    max-width: 100%;
}

.msgSent {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    padding: 40px;
}

#email {
    margin-bottom: 5px;
}

#submit {
    padding: 5px;
}

/*********ENGLISH********/

.eng-main {
    padding: 0;
}

.swe-link {
    position: absolute;
    margin: 10px;
    text-transform: uppercase;
}

/*********FOOTER********/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.747);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}